* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  max-width: 60ch;
}

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

.splash {
  background-image: url(billeder/skyer.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  place-content: center;
}

/* Web */
@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  header {
    position: sticky;
    top: 0;
    background: #e49393;
  }

  header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 40px;
    padding: 20px;
    /* position: fixed; */
  }
}
