* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

p {
  max-width: 65ch;
  margin-bottom: 20px;
  line-height: 23px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(63, 42, 42);
}

a:hover {
  color: #000000d0;
}

h1 {
  margin-bottom: 10px;
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 20px;
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

.hidden {
  /* display: none;
  transform: scale(0); */
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

#menu {
  list-style-type: none;
  transition: transform 0.5s;
  transform-origin: top left;
  margin-left: 20px;
}

.splash {
  background-image: url(billeder/skyer.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  place-content: center;
}

main {
  margin: 20px;
}

body {
  background-color: #f7f1f1;
}
footer {
  background-color: #a169677c;
}

footer .col_billede {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

footer img {
  width: 60%;
  clip-path: circle(50% at 50% 50%);
}

footer .section_wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

footer p {
  color: #6e4746;
  margin-top: 20px;
}

.col_txt {
  display: flex;
  justify-content: left;
}

.col_icon {
  display: flex;
  gap: 20px;
}

/* D burgermenu */
/* .toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  .menu-icons {
    width: 100%;
    height: 100%;
  }

  .toggle-btn.open .burger,
  .close {
    display: none;
  }

  .toggle-btn.open .close,
  .burger {
    display: block;
  }
} */

/* Web */
@media only screen and (min-width: 600px) {
  img {
    margin-bottom: 0px;
  }

  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  header {
    position: sticky;
    top: 0;
    background: #c28383;
  }

  header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
  }

  footer {
    background-color: #a169677c;
  }

  /* footer .col_billede {
    display: grid;
    grid-column: 3/4;
    margin-top: 20px;
  } */

  footer img {
    width: 60%;
    clip-path: circle(50% at 50% 50%);
  }

  footer .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  footer p {
    color: #6e4746;
    margin-top: 20px;
  }

  .col_txt {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .col_icon {
    grid-column: 2/4;
    grid-row: 2/2;
  }

  .col_billede {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  /* Tema 2 - webformat */

  #web .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }
  .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 30px;
  }

  .element_2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .element_3 {
    grid-column: 2/3;
  }

  /* Tema 3 - webformat */
  #ux #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  #ux #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-bottom: 100px;
  }

  #ux #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  #ux img {
    margin-bottom: 20px;
  }
}

/* Knapper */

.button {
  place-content: center;
  border-radius: 4px;
  margin-bottom: 20px;
  /* grid-column: 1/1; */
}

.button_items {
  display: inline-flex;
  overflow: hidden;
}

.button:hover {
  background: #a169677c;
}

.button_text {
  display: flex;
  align-items: center;
  padding: 1px;
  color: #6e4746;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  width: 100%;
  padding: 15px 0 15px 0;
  border: none;
  background-color: white;
}
