* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.25rem;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

p,
li {
  max-width: 60ch;
  margin-bottom: 1.25rem;
  line-height: 1.4rem;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(56, 56, 56);
}

a {
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(63, 42, 42);
}

a:hover {
  color: rgb(151, 104, 104);
}

hr {
  border: 0;
  border-top: 0.1rem solid #a169677c;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 0.7rem;
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  color: rgb(46, 46, 46);
}

h2 {
  margin-bottom: 1.25rem;
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  color: rgb(46, 46, 46);
}

h3 {
  margin-bottom: 1rem;
  font-family: playfair-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  color: rgb(46, 46, 46);
}

#forside #first_section {
  display: grid;
  background-image: url(billeder/nature.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  place-content: center;
}

#forside #first_section h1 {
  font-size: 2.6rem;
  color: rgb(75, 56, 100);
}

#forside #first_section h2 {
  font-size: 2.2rem;
  color: rgb(75, 56, 100);
}

#forside .second_section {
  margin: 1.25rem;
}

#web,
#ux,
#animation,
#content,
#om #first_section,
#portfolio {
  margin: 1.5rem;
}

body {
  background-color: #f7f1f1;
}
footer {
  background-color: #a169677c;
}

footer .col_billede {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}

footer img {
  width: 50%;
  clip-path: circle(50% at 50% 50%);
}

footer .section_wrapper {
  margin-left: 1.9rem;
  margin-right: 1.9rem;
}

footer p {
  color: #6e4746;
  margin-top: 1.25rem;
}

.col_txt {
  display: flex;
  justify-content: left;
}

.col_icon {
  display: flex;
  gap: 1.25rem;
}

/* Om siden - Mobil */

#om img {
  border-radius: 2rem;
}

#om #second_section .section_wrapper {
  display: grid;
  place-items: center;
  list-style: none;
  background-image: url(billeder/skyer.jpg);
}

#om #second_section h2 {
  display: grid;
  place-items: center;
  margin-bottom: 0.4rem;
  margin-top: 2rem;
}
#om #second_section .section_wrapper h3 {
  margin-bottom: 0.5rem;
}

/* burgermenu */

@media (max-width: 800px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0.25rem;
    cursor: pointer;
    color: rgb(63, 42, 42);
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 0.1rem solid #a169677c;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 1.4rem;
    gap: 1rem;
  }
}

/* Web */
@media only screen and (min-width: 800px) {
  img {
    margin-bottom: 0rem;
  }

  h1 {
    margin-bottom: 0.7rem;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  h3 {
    margin-bottom: 1.25rem;
    font-size: 1.6rem;
  }

  .banner {
    background-color: #c28383;
    padding: 1rem;
  }

  .banner ul {
    list-style: none;
    padding: 0;
  }

  .toggle-btn {
    display: none;
  }

  #menu li {
    display: inline-block;
  }

  header {
    position: sticky;
    top: 0;
  }

  header nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 0.5rem;
  }

  footer {
    background-color: #a169677c;
  }

  footer img {
    width: 65%;
    clip-path: circle(50% at 50% 50%);
  }

  footer .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
  }

  footer p {
    color: #6e4746;
    margin-top: 1.25rem;
  }

  .col_txt {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .col_icon {
    grid-column: 2/4;
    grid-row: 2/2;
    margin-bottom: 1.25rem;
  }

  .col_billede {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  /* Forside - webformat */
  #forside #first_section {
    background-image: url(billeder/nature.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    place-content: center;
  }

  #forside #first_section h1 {
    font-size: 4rem;
  }

  #forside #first_section h2 {
    font-size: 3rem;
  }

  /* Tema 2 - webformat */
  #web .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.9rem;
  }

  #web img {
    margin-bottom: 1rem;
  }

  /* Tema 3 - webformat (og andre temaer)*/
  #ux #first_section .section_wrapper,
  #ux #fifth_section .section_wrapper,
  #content #first_section .section_wrapper,
  #content #second_section .section_wrapper,
  #portfolio #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.9rem;
    margin-bottom: 3.1rem;
  }

  #ux #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.9rem;
    margin-bottom: 6.25rem;
  }

  #ux #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.9rem;
    margin-bottom: 2rem;
  }

  #ux #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.9rem;
    margin-bottom: 2rem;
  }

  #ux img,
  #animation img {
    margin-bottom: 1.25rem;
  }

  /* Tema 4 - webformat */
  #animation .first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  #animation .second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  #animation .third_section .section_wrapper .row {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    margin-bottom: 1.4rem;
  }

  /* Tema 5 - webformat */
  #content #third_section .section_wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  #content #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 5, 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 3rem;
  }

  .smykke1 {
    grid-column: 1/1;
  }

  .smykke2 {
    grid-column: 2/2;
    grid-row: 2/2;
  }

  .smykke3 {
    grid-column: 3/3;
    grid-row: 1/1;
  }

  .smykke4 {
    grid-column: 4/4;
    grid-row: 2/2;
  }

  .vaerksted {
    grid-column: 5/5;
    grid-row: 1/1;
  }

  /* Tema 6 - webformat */
  #portfolio #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  #portfolio #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  /* Om mig-side */
  #om #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  #om #second_section .section_wrapper {
    display: grid;
    place-items: left;
    list-style: none;
  }

  #om #second_section h2 {
    display: grid;
    place-items: center;
    margin-bottom: 0.4rem;
    margin-top: 2rem;
  }
  #om #second_section .section_wrapper h3 {
    margin-bottom: 0.5rem;
  }
}

/* Knapper */

.button {
  place-content: center;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
}

.button_items {
  display: inline-flex;
  overflow: hidden;
}

.button:hover {
  background: #a169677c;
}

.button_text {
  display: flex;
  align-items: center;
  padding: 0.06rem;
  color: #6e4746;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  width: 100%;
  padding: 0.9rem 0 0.9rem 0;
  border: none;
  background-color: white;
  margin-bottom: 1.5rem;
}
